<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>首页</title>
		<link rel="stylesheet" type="text/css" href="public/home/css/common.css" />
		<link rel="stylesheet" type="text/css" href="public/home/css/news.css" />
		<script language="javascript" type="text/javascript" src="public/home/js/jquery-1.8.3.min.js"></script>
		<!--[if lt IE 9]>
<script language="javascript" type="text/javascript" src="./js/html5shiv.js"></script>
<script language="javascript" type="text/javascript" src="./js/IE9.js"></script>
<style>
.header .nav li a{behavior:url(PIE.htc);}
</style>
<![endif]-->
	</head>

	<body>
		<div class="header">
			<a href="index.html" class="logo"><img src="public/home/images/logo_03.gif"></a>
			<ul class="nav">

								<li ><a href="index.php?m=home&ctl=index">首页</a></li>

								<li class="current"><a href="index.php?m=home&ctl=news">新闻中心</a></li>

								<li ><a href="index.php?m=home&ctl=product">产品中心</a></li>

				
							</ul>
		</div>
		        <div class="banner">
			<img src="public/home/images/news_banner_02.jpg">
		</div>
    <div class="top">
			<div class="title">
				<h4>新闻中心</h4>
				<h5>NEWS CENTER</h5></div>
			<ul class="menu">
								<li class="current"><a href="index.php?m=home&ctl=news&cate_id=12#tit">最新资讯</a></li>
				
								<li class="current"><a href="index.php?m=home&ctl=news&cate_id=13#tit">产品动态</a></li>
				
							</ul>
		</div>

		<h2 class="title" id="tit">最新资讯</h2>
		<ul class="location">
			<li>当前位置：</li>
			<li><a href="index.html">首页</a><font>&gt;</font></li>
			<li class="current"><a href="news.html">新闻中心</a></li>
		</ul>

		<ul class="news_main" >
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811081342.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811086700.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811082156.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811087660.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811084774.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811089518.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811085834.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811089279.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811089308.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
						<li>
				<a href="news_details.html" class="news_pic"><img src="upload/201811084692.png"></a>
				<div class="date">
					<p>08</p><font>2018/11</font></div>
				<div class="text">
					<h4 class="title"><a href="news_details.html">巴科光电LED显示屏新品infocomm China 201</a></h4>
					巴科光电LED显示屏新品infocomm China 201				</div>
				<a href="news_details.html" class="details">查看详情</a>
			</li>
					</ul>
		<ul class="page">
			<li class="pre">
				<a href="index.php?m=home&ctl=news&page=1#tit"><img src="public/home/images/news_page_left.png"></a>
			</li>
			
							<li class="current"><a href="index.php?m=home&ctl=news&page=1#tit">1</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=2#tit">2</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=3#tit">3</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=4#tit">4</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=5#tit">5</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=6#tit">6</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=7#tit">7</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=8#tit">8</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=9#tit">9</a></li>
							<li ><a href="index.php?m=home&ctl=news&page=10#tit">10</a></li>
			
			<li class="next">
				<a href="index.php?m=home&ctl=news&page=2#tit"><img src="public/home/images/news_page_right.png"></a>
			</li>
		</ul>
	</div><div class="footer">
			<ul class="nav">
				<li><a href="index.html">首&nbsp;&nbsp;页</a></li>
				<li><a href="about.html">公司介绍</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a href="product.html">产品中心</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
			<ul class="tel">
				<li>地址：上海市金桥镇</li>
				<li>联系电话：0713-6261626</li>
				<li>邮箱：626263521@qq.com</li>

			</ul>
			<p>版权所有&copy;2017晶凯威光电有限公司</p>
		</div>

	</body>
	<script language="javascript" type="text/javascript" src="public/home/js/common.js"></script>
	<script language="javascript" type="text/javascript" src="public/home/js/lb.js"></script>

</html>