<div class="footer">
			<ul class="nav">
				<li><a href="index.html">首&nbsp;&nbsp;页</a></li>
				<li><a href="about.html">公司介绍</a></li>
				<li><a href="news.html">新闻中心</a></li>
				<li><a href="product.html">产品中心</a></li>
				<li><a href="contact.html">联系我们</a></li>
			</ul>
			<ul class="tel">
				<li>地址：上海市金桥镇</li>
				<li>联系电话：0713-6261626</li>
				<li>邮箱：626263521@qq.com</li>

			</ul>
			<p>版权所有&copy;2017晶凯威光电有限公司</p>
		</div>

	</body>
	<script language="javascript" type="text/javascript" src="<?php echo HOME ?>js/common.js"></script>
	<script language="javascript" type="text/javascript" src="<?php echo HOME ?>js/lb.js"></script>

</html>