
		<div class="about">
			<div class="title">
				<h4>公司介绍</h4>
				<h5>COMPANY&nbsp;INTRODUCTION</h5>
			</div>
			<div class="text">
				<h6>深圳晶凯威光电有限公司：</h6>
				<p>深圳晶凯威光电有限公司数独资的高科技民营企业。公司专业研发、设计、生产与销售液晶显示器（LCD）及显示模组（LCM）LED背光源等产品，广泛应用于玩具、通讯设备、工控产品、电子视听设备、电子医疗设备、家用电器、仪器仪表、车载配套产品等领域。 LCD产品：TN、HTN、STN、FSTN.等……</p>
				<a href="about.html" class="details">查看详情</a>

			</div><img src="<?php echo HOME ?>images/about_pic_03.jpg" class="about_pic">
		</div>
		<div class="news">
			<div class="main">
				<div class="title">
					<h4>新闻中心</h4>
					<h5>NEWS CENTER</h5>
				</div>
				<ul class="news_list">
					<?php foreach($news as $v){ ?>
					<li>
						<a href="news_details.html" class="news_pic"><img src="<?php echo HOME ?>images/news_list_03.jpg"></a>
						<div class="text">
							<h5 class="title"><a href="news_details.html">LED照明产品质量合格率仅4成</a></h5>

							<?php echo htmlspecialchars_decode($v['content']) ?>
							<a href="news_details.html" class="details">查看详情</a></div>
					</li>
					<?php } ?>
					
				</ul>
			</div>
		</div>
		<div class="product">
			<div class="title">
				<h4>产品中心</h4>
				<h5>PRODUCT CENTER</h5>
			</div>
			<ul class="pro_list">
				<li>
					<a href="pro_details.html"><img src="<?php echo HOME ?>images/pro_list_03.jpg"></a>
					<h5><a href="pro_details.html">F200显示器</a></h5>
					<p>显像管的尺寸一般所指的是显像管的对角线的尺寸，是指显像管的大小，不是它的显示面积，但对于用户来说，关心的还是他的可视面</p>
					<a href="pro_details.html" class="details">查看详情</a>
				</li>
				<li>
					<a href="pro_details.html"><img src="<?php echo HOME ?>images/pro_list_05.jpg"></a>
					<h5><a href="pro_details.html">F360显示器</a></h5>
					<p>关于笔记本电脑与液晶显示器，以往的笔记本电脑中都是采用8英寸（对角线）固定大小的LCD显示器基于TFT技术的桌面系统LCD</p>
					<a href="pro_details.html" class="details">查看详情</a>
				</li>
				<li>
					<a href="pro_details.html"><img src="<?php echo HOME ?>images/pro_list_07.jpg"></a>
					<h5><a href="pro_details.html">F720显示器</a></h5>
					<p>模拟调节是在显示器外部设置一排调节按钮，来手动调节亮度、对比度等一些技术参数。由于此调节所能达到的功效有限，不具备视频</p>
					<a href="pro_details.html" class="details">查看详情</a>
				</li>
			</ul>
		</div>
		<div class="contact">
			<div class="main">
				<div class="title">
					<h4>联系我们</h4>
					<h5>CONTACT US</h5>
				</div>
				<div class="left">
					<ul class="tel">
						<li>
							<img src="<?php echo HOME ?>images/tel_03.jpg">
							<font>地址：深圳市东莞市</font>
						</li>
						<li>
							<img src="<?php echo HOME ?>images/tel_06.jpg">
							<font>电话：0715-6254584</font>
						</li>
						<li>
							<img src="<?php echo HOME ?>images/tel_08.jpg">
							<font>邮箱：824655821@qq.com</font>
						</li>
					</ul>
				</div>
				<form class="right">
					<ul>
						<li>
							<input type="text" name="name" value="姓名：" onfocus="if(this.value == '姓名：'){this.value = '';this.style.color='#333333';}" onblur="if(this.value == ''){this.value = '姓名：';style.color='#333333';}">
						</li>
						<li>
							<input type="text" name="telphone" value="电话：" onfocus="if(this.value == '电话：'){this.value = '';this.style.color='#333333';}" onblur="if(this.value == ''){this.value = '电话：';style.color='#333333';}">
						</li>
						<li>
							<input type="text" name="post" value="邮箱：" onfocus="if(this.value == '邮箱：'){this.value = '';this.style.color='#333333';}" onblur="if(this.value == ''){this.value = '邮箱：';style.color='#333333';}">
						</li>
					</ul>
					<div class="textarea_box">
						<span></span>
						<textarea onfocus="if(this.value == '留言'){this.value = '';this.style.color='#333333';}" onblur="if(this.value == ''){this.value = '留言';style.color='#6e6655';}">留言</textarea>
					</div>

					<input type="submit" value="提交">
				</form>
			</div>
		</div>
		