@charset "utf-8";
.banner{ position:relative; max-width:100%;  overflow:hidden;}
.banner_pic_list{ position:relative; min-width:1200px; overflow:hidden;}
.banner_pic_list:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.banner_pic_list li{ max-width:100%; float:left; overflow:hidden;}
.banner_pic_list li a{display:block; max-width:100%;}
.banner_pic_list li a img{ max-width:100%; display:block; min-width: 1200px;}
.banner .left,.banner .right{position:absolute; width:46px; height:96px; display:block; z-index:2;}
.banner .left{background:url(../images/banner_left.png);}
.banner .right{background:url(../images/banner_right.png);}
.banner .left:hover{background:url(../images/banner_left_01.png);}
.banner .right:hover{background:url(../images/banner_right_01.png);}
.banner .banner_list{ position: absolute; bottom: 6.333333333333333%; z-index:10;}
.banner .banner_list:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.banner .banner_list:hover{ cursor:pointer;}
.banner .banner_list li{width:91px; height:12px; background:#333333; border-bottom:1px solid #56564c; border-top:1px solid #56564c; float:left; margin-left:33px;}
.banner .banner_list li:hover{background:#f2ae00; border-top:1px solid #dda50f; border-bottom:1px solid #dda50f;}
.banner .banner_list li.current{background:#f2ae00; border-top:1px solid #dda50f; border-bottom:1px solid #dda50f;}
.about{width:1200px; margin:0px auto; padding:30px 0px; margin-bottom:53px;}
div.title{width:341px; margin:0px auto; font-family:"微软雅黑"; margin-bottom:50px; background:url(../images/index_title.png) no-repeat bottom; padding-bottom:30px;}
div.title:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
div.title h4{font-size:30px; font-weight:normal; float:left; line-height:30px; margin-bottom:11px; color:#333333;}
div.title h5{font-size:16px; font-weight:normal; float:right; line-height:16px; margin-bottom:11px; margin-top:12px; color:#707070;}
div.title img{display:block;}
.about:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.about .text{width:431px; margin-left:83px; float:left;}
.about .text h6{font-family:"微软雅黑"; color:#333333; font-size:24px; font-weight:normal; line-height:24px; margin-bottom:36px;}
.about .text p{font-family:"微软雅黑"; color:#333333; font-size:18px; line-height:34px; text-indent:2em;}
.about .about_pic{float:right; margin-right:54px; border:0px;}
.about .text a{ font-size:24px; padding:0px 30px; line-height:44px; margin-top:41px; background:#f2ae00; float:left; color:#FFF; font-family:"微软雅黑"; text-align:center;}

.news{ padding-top:29px; background:#ffe7b2; padding-bottom:17px;}
.news .main{width:1200px; margin:0px auto;}
.news .main .news_list{margin:0px auto; padding-left:45px;}
.news .main .news_list li{padding:18px; border:1px solid #ad9f7f; width:506px; float:left; margin-bottom:35px; margin-right:22px; cursor:pointer;}
.news .main .news_list:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.news .main .news_list li:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.news .main .news_list li:hover{padding:17px; border:2px solid #ffbb29;}
.news .main .news_list li .details{ padding:0px 16px; line-height:26px; float:right; margin-top:27px; font-size:14px;background:#f2ae00;color:#FFF; font-family:"微软雅黑"; text-align:center;}
.news .main .news_list li .news_pic{ float:left;}
.news .main .news_list li .text{float:right; width:270px;}
.news .main .news_list li .text .title{margin-bottom:11px;}
.news .main .news_list li .text .title a{font-family:"微软雅黑"; color:#333333; font-size:20px; font-weight:normal; line-height:32px; display:block;}
.news .main .news_list li .text p{font-family:"微软雅黑"; color:#333333; font-size:14px; line-height:24px; text-indent:2em;}
.product{width:1200px; margin:0px auto; padding-top:26px;}
.product .pro_list{margin-left:30px;}
.product .pro_list li{ float:left; width:358px; border:1px solid #999999; padding:1px; margin-right:27px; cursor:pointer;}
.product .pro_list li:hover{border:2px solid #ffbb29; padding:0px;}
.product .pro_list li a{ display:block;}
.product .pro_list li img{display:block; margin:28px auto 40px;}
.product .pro_list li h5 a{text-align:center;font-family:"微软雅黑"; color:#333333; font-size:18px; font-weight:normal; line-height:18px; }
.product .pro_list:after{content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.product .pro_list li .details{width:133px;line-height:34px; margin:20px auto 14px; font-size:18px;background:#f2ae00; display:block;color:#FFF; font-family:"微软雅黑"; text-align:center;}
.product .pro_list li p{font-family:"微软雅黑"; color:#333333; font-size:14px; text-indent:2em; padding:0px 18px; line-height:24px; margin-top:14px;}
.contact{ background:#ffe7b2; margin-top:36px;}
.contact .main{width:1200px; margin:0px auto; padding-top:40px;}
.contact .main:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.contact .main .tel li{font-family:"微软雅黑"; color:#333333; font-size:14px;}
.contact .main .tel li:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.contact .main .tel li img{float:left;}
.contact .main .tel li font{ line-height:56px; float:left; margin-left:12px;}
.contact .main .left{width:221px; border:1px solid #a1720a; position:relative; margin-left:62px; float:left; padding:46px 0px;}
.contact .main .tel{position:relative; left:100px; width:320px; padding:26px 0px; background:#ffe7b2;}
.contact .main .right{float:right; width:547px; margin-right:160px; padding-bottom:67px;}
.contact .main .right ul:after{ content:""; width:100%; height:0px; font-size:0px; display:block; clear:both;}
.contact .main .right ul li{width:41.49908592321755%; float:left; border-bottom:3px solid #ffb924; line-height:20px;}
.contact .main .right ul li input{ line-height:20px; border:0px; background:#ffe7b2;font-family:"微软雅黑"; color:#333333; width:100%; font-size:14px;}
.contact .main .right .textarea_box{ margin-top:19px; position:relative; border:2px solid #b88f34; padding:8px;}
.contact .main .right .textarea_box span{position:absolute; display:block; top:-2px; left:12.34119782214156%; height:2px; 
width:75.31760435571688%; background:#ffe7b2; z-index:5;}
.contact .main .right .textarea_box textarea{ border:0px; color: #6e6655; background: #ffe7b2; font-size:14px;font-family:"微软雅黑"; height:211px; width:100%;}
.contact .main .right input[type="submit"]{width:100%; background:#ffb924; font-family:"微软雅黑"; color:#ffffff; font-size:18px; line-height:50px; border:0px; margin-top:19px; cursor:pointer;}